<p class="entry__tags">


    <span class="entry__tag-list">
        <a href="#0"><i class="far fa-thumbs-up"></i> like
        </a>
        <a href="#0"><i class="far fa-thumbs-down"></i> dislike</a>
        <a href="#0"><i class="far fa-bookmark"></i> bookmark</a>

    </span>

</p>